<!-- banner -->
<div class="inner_page-banner one-img"></div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb ml-4">
    <ul class="short_ls">
      <li>
        <a routerLink="">Home</a>
        <span>/ /</span>
      </li>
      <li>Service</li>
    </ul>
  </div>
</div>
<!-- //short-->
<!--show Now-->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <h1 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Services</h1>
    <div class="row">
      <div class="side-bar col-lg-3">
        <div class="search-hotel">
          <h3 class="agileits-sear-head">Search Here..</h3>
          <form action="#" method="post">
            <input
              type="search"
              placeholder="Product name..."
              name="search"
              required=""
            />
            <input type="submit" value=" " />
          </form>
        </div>
      </div>
      <div class="left-ads-display col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
            <div class="product-toys-info">
              <div class="men-pro-item">
                <div class="men-thumb-item">
                  <img
                    src="assets/user/images/a1.jpg"
                    class="img-thumbnail img-fluid"
                    alt=""
                  />
                  <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                      <a class="link-product-add-cart">Quick View</a>
                    </div>
                  </div>
                  <span class="product-new-top">New</span>
                </div>
                <div class="item-info-product">
                  <div class="info-product-price">
                    <div class="grid_meta">
                      <div class="product_price">
                        <h2>Cleaning</h2>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
            <div class="product-toys-info">
              <div class="men-pro-item">
                <div class="men-thumb-item">
                  <img
                    src="assets/user/images/a2.jpg"
                    class="img-thumbnail"
                    alt=""
                  />
                  <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                      <a class="link-product-add-cart">Quick View</a>
                    </div>
                  </div>
                  <span class="product-new-top">New</span>
                </div>
                <div class="item-info-product">
                  <div class="info-product-price">
                    <div class="grid_meta">
                      <div class="product_price">
                        <h2>Electrical</h2>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
            <div class="product-toys-info">
              <div class="men-pro-item">
                <div class="men-thumb-item">
                  <img
                    src="assets/user/images/a3.jpg"
                    class="img-thumbnail"
                    alt=""
                  />
                  <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                      <a class="link-product-add-cart">Quick View</a>
                    </div>
                  </div>
                  <span class="product-new-top">New</span>
                </div>
                <div class="item-info-product">
                  <div class="info-product-price">
                    <div class="grid_meta">
                      <div class="product_price">
                        <h2>Plumbing</h2>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //show Now-->
